@model IEnumerable<FullViajes.Models.Ciudad>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Ciudades</h2>

<p>
    @Html.ActionLink("Agregar Ciudad", "Create")
</p>
<table class="table table-bordered table-striped">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.coordenadas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.coordenadas)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new {id=item.id_ciudad /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.id_ciudad/* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.id_ciudad/* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
