@model FullViajes.Models.Usuario

@{
    ViewBag.Title = "Perfil de Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var rolusuario = "";
}
@{
    var evalrol = Model.rol;
    switch (evalrol)
    {
        case 0:
            rolusuario = "Administrador";
            break;
        case 1:
            rolusuario = "Usuario Normal";
            break;
    }
}

<h2>Perfil de Usuario:  @Html.DisplayFor(model => model.nomapel) </h2>


<div>

    <hr />
    <div class="pull-right">
        <img src="@Html.DisplayFor(model => model.user_foto)" alt="Foto de Perfil" width="100" class="img-rounded img-responsive" />
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rol)
        </dt>

        <dd>
            @rolusuario
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Modificar", new { id = Model.id_usuario }) |
    @Html.ActionLink("Regresar a Lista", "Index")
</p>
